<launch>



    <rosparam command="load" file="$(find slam_craft_turbo)/config/m2dgr.yaml" />
    <node pkg="slam_craft_turbo" type="slio_node" name="slio_running_node" output="screen" /> 


	<node  pkg="rviz" type="rviz" name="rviz_slio" args="-d $(find slam_craft_turbo)/rviz/lio.rviz" /> 


</launch>
